# load indexes

In [4]:
import pandas as pd

### arguments

In [5]:
# pages
alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
# columns to be read
l_columns = ['Code', 'Name']

In [6]:
# loop of pages
for i, a in enumerate(alphabet):
    # build input html
    input_html = f'https://www.eoddata.com/stocklist/NYSE/{a}.htm'
    # load data
    temp = pd.read_html(input_html)[4]
    # append
    if i == 0:
        df = temp.copy()
    else:
        df = pd.concat([df, temp], axis = 0)
    # clean
    del temp
# display
df.shape

(3182, 10)

In [7]:
# variables selection
df = df[l_columns]
# remove records with nan values
df.dropna(inplace = True)

In [8]:
df.Name = df.Name.apply(lambda x: x.lower())
df[df.Name.str.contains("amazon")]

Empty DataFrame
Columns: [Code, Name]
Index: []